<section class="ONLY_2TITLE_IMAGE" $header>

	<div class='row'>
					
					<div class='col-md-6'>
					<h1>$slide.getTitle().getText()</h1>
					<h3 class='fragment' style=''>$slide.getTitle2().getText()</h3>
					</div>
					
					<div class='col-md-6 fragment fade-up'>
						<img  src="$slide.getImage().getUrl()" alt="no_img" >
					</div>
					</div>
  </section>

