<section class="ONLY_VIDEO" $header>
<div class='row'>
					
					<div class='col-md-12'>
					<video>
					  <source data-src="$slide.getVideo().getUrl()" type="video/mp4" />
					</video>
					</div>
					</div>
</section>