<section class="ONLY_LIST" $header>
					
					<ul>
					#foreach( $item in $slide.getList().getItems() )
#if(!$item.getText().isEmpty())
						<li class="fragment fade-up visible" data-fragment-index="$foreach.index">$item.getText()</li>
						
						#end
	 	 #end
					</ul>
				</section>